<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Weather</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- responsive-->
    <link rel="stylesheet" href="/static/css/responsive.css">
    <!-- awesome fontfamily -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="/static/images/loading.gif" alt="" /></div>
    </div>
    <!-- end loader -->
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="{% url 'index' %}">HOME</a>
        <a href="{% url 'about' %}">ABOUT</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'registration' %}">Registration</a>
    </div>
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="head-top">
            <div class="container-fluid">
                <div class="row d_flex">
                    <div class="col-sm-3">
                        <div class="logo">
                            <a href="index.html">Weather Forecasting</a>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <ul class="social_icon text_align_right d_none">
                            <li> <a href="Javascript:void(0)"><i class="fa fa-facebook-f"></i></a></li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="email text_align_right">
                            <li class="d_none"><a href="Javascript:void(0)"><i class="fa fa-user"
                                        aria-hidden="true"></i></a></li>
                            <li class="d_none"> <a href="Javascript:void(0)"><i class="fa fa-search"
                                        style="cursor: pointer;" aria-hidden="true"></i></a> </li>
                            <li>
                                <button class="openbtn" onclick="openNav()"><img
                                        src="/static/images/menu_btn.png"></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <!-- about -->
    <div id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about_border">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="titlepage text_align_left">
                                    <h2>Registration</h2>
                                </div>
                                <div class="about_text">
                                    <form action="{% url 'registration' %}" method="post">
                                        {% csrf_token %}
                                        <div class="container">
                                            <label style="margin-top: 100px;color:white" for="Name"><b>Name</b></label>
                                            <b><input type="text" placeholder="Name" name="Name"style=" margin-left: 50px;width: 250px;height: 40px;color:black;"required="required"></b><br>

                                            <label style="margin-top: 100px;color:white" for="email"><b>Email</b></label>
                                            <b><input type="text" placeholder="email" name="email" style=" margin-left: 50px;width: 250px;height: 40px;color:black;" equired="required"></b><br><br><br>

                                            <label style="color:white;" for="psw"><b>Password</b></label>
                                            <b><input type="password" placeholder="Password" name="password" style=" margin-left: 20px;width: 250px;height: 40px;color:black;"required="required"></b><br><br><br>

                                            <label style="color:white;" for="cpsw"><b>confirm <br>Password</b></label>
                                            <b><input type="password" placeholder="confirm Password" name="conpassword" style=" margin-left: 20px;width: 250px;height: 40px;color:black;" required="required"></b><br><br><br>

                                            <!-- <label style="color:white;" for="Age"><b>Age</b></label>
                                            <b><input type="Age" placeholder="Age" name="Age" style=" margin-left: 61px;width: 250px;height: 40px;color:black;" required="required"></b><br><br><br>

                                            <label style="color:white;" for="contact"><b>contact</b></label>
                                            <b><input type="contact" placeholder="contact" name="contact" style=" margin-left: 33px;width: 250px;height: 40px;color:black;"required="required"></b><br><br><br> -->

                                            <button type="submit" style="width: 100px; margin-left: 70px;">Signin</button><br><br><br><br>

                                            <center>
                                                <h1 style="color:blue">{{msg}}</h1>
                                            </center>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about_img">
                                    <figure><img class="img_responsive" src="/static/images/w6.png" alt="#" />
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascript files-->
    <script src="/static/js/jquery.min.js "></script>
    <script src="/static/js/bootstrap.bundle.min.js "></script>
    <script src="/static/js/jquery-3.0.0.min.js "></script>
    <script src="/static/js/custom.js "></script>
</body>

</html>